.action_area {
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(175, 180, 181, 1) 0%,
		rgba(148, 206, 237, 1) 100%
	);
}

.h1 {
	text-align: center;
	text-transform: capitalize;
	padding: 2rem;
}

.p {
	text-align: center;
	padding-bottom: 2rem;
}
