.lp_body {
	background: linear-gradient(
		90deg,

		rgba(175, 180, 181, 1) 45%,
		rgba(148, 206, 237, 1) 100%
    );
    
    //background-color: rgba(88, 102, 139, 0.959);
}

.container {
	max-width: 1200px;
	margin: auto;
}
