.lp_body {
	background: linear-gradient(
		0deg,
		rgba(148, 206, 237, 1),
		rgba(175, 180, 181, 1) 50%,
		rgb(37, 37, 37) 100%
	);

	//background-color: rgba(88, 102, 139, 0.959);
}

.container {
	max-width: 1200px;
	margin: auto;
}
