.hosts_area {
	background: url('/bw-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 2rem;
}

.hosts_container {
	margin: 2rem;
}

.hosts-info {
	margin: auto;
}

.h2 {
	color: var(--myBlue);
	text-align: center;
	margin-bottom: 2rem;
	font-family: 'Jost', sans-serif;
	font-size: 2rem;
}

.h3 {
	color: white;
	font-family: 'Jost', sans-serif;
}

.anchor {
	color: var(--myBlue);
	font-size: 1.3rem;
	font-family: 'Jost', sans-serif;

	&:hover {
		color: rgb(32, 248, 255);
	}
}

.female_div,
.male_div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	text-align: center;
	padding: 2rem 0;
}

.female_info,
.male_info {
	width: 60%;
}

.p {
	color: rgb(255, 255, 255);
	font-size: 1.3rem;
	padding: 1rem;
	font-family: 'Overlock', cursive;
}

.image_border {
	height: 210px;
	width: 210px;
	border: 5px solid orange;
	// border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.image {
	height: 200px;
	width: 200px;
	// border-radius: 50%;
	position: relative;
	top: 15px;
	left: 15px;
}

@media only screen and (max-width: 600px) {
	.female_div,
	.male_div {
		flex-direction: column;
	}

	.female_info {
		order: 1;
	}

	.h3 {
		font-size: 1.6rem;
	}

	.anchor {
		font-size: 1.5rem;
	}

	.p {
		font-size: 1.4rem;
		margin: 1rem 0;
	}

	.image_border,
	.image {
		position: static;
	}

	.female_info,
	.male_info {
		width: 90%;
	}
}
