.testimonial_area {
	background: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem 0;
}

.h2 {
	font-family: 'Jost', sans-serif;
	text-transform: capitalize;
	color: rgb(99, 99, 99);
}

.testimonials {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: center;

	@media only screen and (max-width: 849px) {
		flex-wrap: wrap;
	}
}

.pic_area {
	margin: 1rem;
}

.pic_border {
	height: 125px;
	width: 125px;
	border: 5px solid var(--myBlue);
	border-radius: 999px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pic {
	height: 120px;
	width: 120px;
	border-radius: 999px;
	object-fit: cover;
}

.testimonial {
	width: 35%;
	margin: 1rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	a {
		font-family: 'Jost', sans-serif;

		&:hover {
			color: var(--myBlue);
		}
	}

	p {
		font-family: 'Overlock', cursive;
		color: rgb(102, 102, 102);
	}

	@media only screen and (max-width: 473px){
		width: 60%;
	}
}
